@font-face {
  font-family: 'KharkivTone';
  src: url('Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-size: 20px;
  font-family: KharkivTone, sans-serif;
  color: #e5e5e5;
}
html {
  background: linear-gradient(to right top, #2f6159 10%, #141414 90%);
  min-height: 100vh;
}
body {
  margin-left: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .right-content {
    display: flex;
    align-items: center;
  }
  .left-content {
    display: flex;
    align-items: center;
  }
}

h1 {
  margin-right: 1em;
  color: #e5e5e5;
  font-size: xx-large;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type='date'] {
  background-color: transparent;
}

input[type='text'] {
  padding: 8px;
  background-color: transparent;
  color: #e5e5e5;

  &::placeholder {
    transition: 500ms;
  }
  &:focus::placeholder {
    transition: 500ms;
    transform: scale(0.1);
    opacity: 0;
  }
}
.ReactModal__Overlay {
  background-color: #092722 !important;
  justify-content: center !important;
  display: flex !important;
}
.modal {
  position: relative;
  border: 1px solid rgb(204, 204, 204);
  background: linear-gradient(to right top, #2f6159 10%, #141414 90%);
  margin: 5em;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  &.signin {
    align-self: center;
    height: 18em;
    width: 29em;
  }
}

.loginsignup {
  text-wrap: nowrap;
}

.create_modal {
  margin-bottom: 0.2em;
}

.matches {
  display: flex;
  gap: 2em;
  .match {
    border: 2px solid #2f6159;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.red-button:hover {
  background-color: #e57070;
}
